extends _layout

block vars
  - var title = config.siteName;

block main
  .container.narrow
    h1 #{config.siteName} Courses
    //- for c in courses || []
    //-  +course(c)
    //- include _footer
    +course('trigonometry')
    +course('solids')
    +course('surface-areas')
    +course('probability')
    //+course('linear-functions')
    +course('quadratics')
    +course('ap')
    // +course('circles')
